@tailwind base;
@tailwind components;
@tailwind utilities;

 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 
 
 .active {
  color : #c61010 !important ;
 }
  .my-custom-background {
    background-image: url('/bg1.jpg');
    background-repeat: no-repeat; /* Optional: control repetition */
    background-size: cover; /* Optional: resize to fit */
    background-position: center; /* Optional: set position */
  }
  .center{
    align-items: center;
  }
  .swiper-pagination-bullet-active {
    background-color: #D24545;
  }

  .swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;

  }

.second-swiper.swiper-wrapper {

  padding-top: 3rem;
  padding-left: 0.8rem;
 }
  .client{
    width: 100%;
    height: 40vh;
  }
  .border{
      border-width: 1px;
  }
  .border-bottom{
    border-bottom: 1px solid #e1e8ed;
  }
  .border-full{
    border: 1px solid #e1e8ed;
    border-radius: 6px ;
  }
  .work{
    height: 70vh;
  }
 .icon{
 
    background: #00387F;
    color: #fff;
    font-size: 16px;
 
    line-height: 40px;
    text-align: center;
    height: 1.7rem !important;
    padding: 0.4rem;
    border-radius: 10px;
    width: 1.9rem
 }
 .montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.back {
  background-image: url("/public/about5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.line{
  line-height: 1.6rem !important ;
    font-weight: 700;
}
input{
  border: 1px solid #e1e1e1;
}
input:focus {
outline: none;
border:1px solid #7A7A7A  ;
padding-left: 0.6rem;
}
textarea:focus {
outline: none;
  border:1px solid #7A7A7A  ;

}
textarea  {
  border: 1px solid #e1e1e1;

}
select:focus{
  outline: none;
  border:1px solid black;
}
select{
  border: 1px solid #e1e1e1;
  color: #7A7A7A;
}
.border2{
  border:1px solid  transparent ;
  border-radius: 20px 20px 0 0;
}

.border3{
 border: 2px solid #e9dede;
 border-radius: 8px;
 padding: 0.5rem;
}

.swiper-pagination-bullet-active{
background-color: #c61010 !important  ;
}

 
nav li a.active {
   color: #c61010 !important;
}
.background{
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 12%, rgba(253,29,29,1) 69%, rgba(252,176,69,1) 99%);
}